@import "../../../config/variables";

.infoSection {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
  @include for-tablet-landscape-up {
    padding: 0;
  }
  p {
    margin-bottom: 3rem;
  }
}
