@import '../../config/variables';

.aboutBottomSection {
    margin-top: 2rem;
    @include for-tablet-landscape-up {
        display: flex;
    }
    img {
        margin-top: 2rem;
        @include for-tablet-landscape-up {
            margin-top: 0;
            margin-left: auto;
        }
    }
}

