.stylingSection {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 9rem;
    .linkContainer {
        position: absolute;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        a {
            color: #fff;
            &:after {
                filter: invert(100%);
            }
        }
    }
}
