@import "../../../config/variables";

.stylingSection {
    position: relative;
    margin-bottom: 9rem;
    width: 100%;
    .imageWrapper {
        max-width: 800px;
        margin: 0 auto;
    }
    .linkContainer {
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        a {
            color: #fff;
            text-align: center;
            white-space: nowrap;
            &:after {
                filter: invert(100%);
            }
            &:hover {
                color: $brand-primary;
            }
        }
    }
}
